* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    position: relative;
}

nav {
    position: fixed;
    z-index: 2;
}

header .nav-inner {
    width: 100%;
    background-color: #fd6900;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header .nav-list {
    padding: 10px;
}

header #list {
    display: flex;
    flex-direction: row;
    gap: 5px;

    list-style-type: none;

}

header a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}

header .logo  {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img {
    height: 20px;
}

header .btn {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 150px;
}

header .btn button {
    background-color: transparent;
    border: none;
    color: white;
}

/* /header */