* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #fd6900;
}

header .nav-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

header .nav-list {
    padding: 10px;
}

header #list {
    display: flex;
    flex-direction: row;
    gap: 5px;

    list-style-type: none;

}

header a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}

header .logo  {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img {
    height: 20px;
}

header .btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

header .btn button {
    background-color: transparent;
    border: none;
    color: white;
}
/* /header */
/* main */
main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    padding-top: 50px;
}

main .card {
    width: 250px;
    height: 360px;
    position: relative;
    margin-bottom: 50PX;
    
}

main .sconto {
    position: absolute;
    bottom: 20px;
    width: 35px;
    padding: 0.5em;
    background-color: rgb(255, 0, 0);
    font-size: 0.7em;
    color: white;
}
main .card img {
    width: 100%;
}

main .sost {
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 75px;
    padding: 0.5em;
    background-color: #0c8001;
    color: white;
    font-size: 0.7em;
}

main .img-alt {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover .img-alt {
    display: inline-block;
}

main .fav {
    position: absolute;
    top: 20px;
    right: 0;
    width: 1em;
    height: 1em;
    background-color: white;
    font-size: 2em;
    text-align: center;
}

.fav:hover {
    color: red
}

main .brand {
    font-size: 0.5em;
}

main .price {
    color: red;
    font-size: 0.7em;
}

main .last-price {
    color: gray;
    text-decoration: line-through;
}

main .last-sost {
    left: 0;
}
/* /main */
/* footer */
footer {
   background-color: #1a1a1a;
   margin-top: 50px;
}

footer .foot-contain {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 200px; */
}

footer .foot-name {
    padding: 20px;
}

footer .footer-links {
    display: flex;
    flex-direction: row;
    color: white;
}

footer .footer-links a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    font-size: 0.7em;
}

footer span {
    color: white;
}

footer .social {
    padding: 20px;
}

footer .loghi-social {
    padding: 10px 0;
}

footer .loghi-social button {
    padding: 0 5px;
    margin: 0 3px;
}
/* /footer */
